
nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(48, 44, 44);
    padding: 10px 50px;
    color: rgb(146, 141, 141);
    z-index:60;
    position: relative;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(224, 220, 220);
}